body {
  background-color: #11151c;
  color: white;
}

.comment {
  padding:10px !important;
}

.comment:nth-child(even) {
}

.comment:nth-child(odd) {
}

.comment .info {
  font-weight:bold;
  font-size:12px;
  color:#ffffff;
}

.custom-bg-color {
  background-color: rgb(17, 24, 39);
}

custom-bg-gray-900.bg-gray-900 {
    --tw-bg-opacity: 1;
}
