body {
  background-color: #12161d;
  color: white;
}

.custom-navbar {
  background-color: #12161d;
  color: white;
}

.navbar-custom-border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.comment {
  padding:10px !important;
}

.comment:nth-child(even) {
}

.comment:nth-child(odd) {
}

.comment .info {
  font-weight:bold;
  font-size:12px;
  color:#ffffff;
}
