{% extends "forum/base.html" %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="flex justify-between items-center mb-4 mt-3">
      <h1 class="h1">{{ post.title }}</h1>
    </div>


    <div>
    <h6 class="h6 font-bold">
      by {{ post.author }} {{ post.created }}
    </h6>
      <p>{{ post.content|linebreaks }}</p>
    
    <div class="flex mt-4">
      <a class="bg-none active:border-none focus:ring-0 flex items-center focus:outline-none" 
        rel="noopener" 
        href="{% url "forum:share_post" post.id %}" 
        aria-label="Share by Email" 
        draggable="false">
        <svg aria-hidden="true" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 h-6 text-gray-300 hover:text-white transition-all">
          <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5m-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3"></path>
        </svg>
      </a>
      <span class="text-xs text-gray-400">
        {% if gt_99 %}
          99+
        {% else %}
          {{ post.share.count }}
        {% endif %}
      </span>
    </div>

    <div class="mt-4">
      {% with comments.count as total_comments %}
      <h2 class="h2">
        {{ total_comments }} comment{{ total_comments|pluralize }}
      </h2>
      {% endwith %}

      {% for comment in comments %}
        <div class="comment">
          <p class="info">
            by {{ comment.name }}
            {{ comment.created }}
          </p>
          {{ comment.body|linebreaks }}
        </div>
        {% empty %}
          <p>There are no comments yet.</p>
        {% endfor %}
      </div>
    </div>

    <div>
      <h2 class="text-2xl font-bold mb-4 text-white">Comment this post</h2>
      <div class="flex justify-start">
        <form class="max-w-sm w-full" method="post" action="{% url "forum:post_comment" post.id %}">
          {% csrf_token %}
          <label for="id_name" class="block mb-1 text-sm font-medium text-gray-300">Name</label>
          {{ form.name }}

          <label for="id_body" class="block mb-2 text-sm font-medium text-gray-300 mt-4">Comment</label>
          {{ form.body }}

          <button type="submit" class="mt-3 px-3 py-1.5 bg-gray-700 hover:bg-gray-600 text-white text-sm font-medium rounded-lg border-2 border-gray-600 hover:border-gray-500 transition-all duration-200 hover:scale-105 active:scale-95 hover:shadow-lg hover:shadow-gray-500/50 focus:ring-4 focus:ring-gray-500/50 focus:outline-none mb-4">Submit</button>

        </form>
      </div>
    </div>
  </div>  
{% endblock content %}




