{% extends "forum/base.html" %}

{% block title %}Share{% endblock title %}

{% block content %}
  {% if sent %}
    <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-white">Email has been successfully sent</h2>
  {% else %}
    <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-white break-all">Share "{{ post.title }}" via Email</h2>
    <div class="flex justify-center">
    <form class="max-w-sm w-full mt-4" method="post" action="{% url "forum:share_post" post.id %}">
      {% csrf_token %}

      <label for="id_email" class="block mb-2 text-sm font-medium text-gray-300">Email</label>
      {{ form.email }}
      {% if form.email.errors %}
        <p class="mt-2 mb-2 left-0 text-xs text-red-400">{{ form.email.errors.0 }}</p>
      {% endif %}

      <label for="id_name" class="block mb-2 mt-3 text-sm font-medium text-gray-300">To</label>
      {{ form.to }}
      {% if form.email.errors %}
        <p class="mt-2 left-0 text-xs text-red-400">{{ form.to.errors.0 }}</p>
      {% endif %}

      <label for="id_body" class="block mb-2 mt-3 text-sm font-medium text-gray-300">Comment</label>
      {{ form.comment }}

      <button type="submit" class="flex max-w-md mt-4 mb-10 justify-center rounded-md bg-indigo-500 px-3 py-1.5 text-sm font-semibold text-white hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500" onclick="this.disabled = true; this.form.submit();">Send</button>

    </form>
  </div>
  {% endif %}
{% endblock content %}