{% extends "forum/base.html" %}

{% block content %}
  <div class="flex justify-center">
    <h2 class="mt-10 mb-3 text-center text-2xl/9 font-bold tracking-tight text-white">Are you sure you want to log out?</h2>
  </div>

  <div class="flex justify-center">
    <form method="post" action="{% url 'users:logout' %}" class="form">
    {% csrf_token %}

    <button type="submit"
          class="flex max-w-md justify-center rounded-md bg-indigo-500 px-3 py-1.5 text-sm font-semibold text-white hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Log out</button>
    <input type="hidden" name="next" value="{% url "forum:post_feed" %}">
  </form>
  </div>
{% endblock content %}