{% extends "forum/base.html" %}
{% load forum_tags %}

{% block content %}
  <div class="flex justify-center">
    <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-white">Register your account</h2>
  </div>

  <div class="flex justify-center">
    <form method="post" action="{% url "users:register" %}" class="space-y-6">
      {% csrf_token %}

      {% if form.non_field_errors %}
        <div class="max-w-md p-4 mb-4 text-sm text-red-300 bg-red-900/50 border border-red-700 rounded-lg">
          {{ form.non_field_errors }}
        </div>
      {% endif %}

      <div>
        <label for="id_username" class="block mb-2 text-sm font-medium text-gray-300">
          Username
        </label>
        <div class="mt-2 relative">
          <input
            type="text"
            name="username"
            id="id_username"
            required
            class="block max-w-md pl-3 pr-24 py-2 text-sm text-gray-400 border border-gray-600 rounded-lg bg-gray-800/50 placeholder-gray-400 transition-all duration-200 hover:shadow-md hover:shadow-gray-500/50 focus:ring-1 focus:ring-gray-500/50 focus:outline-none"
            placeholder="Enter your username"
          />
          {% if form.username.errors %}
            <p class="absolute left-0 -bottom-10 text-xs text-red-400">{{ form.username.errors.0 }}</p>
          {% endif %}
        </div>
      </div>

      <div class="mt-3">
        {% if form.username.errors %}
          <label for="id_password1" class="block mb-2 mt-10 text-sm font-medium text-gray-300">
            Password
          </label>
        {% else %}
          <label for="id_password1" class="block mb-2 text-sm font-medium text-gray-300">
            Password
          </label>
        {% endif %}
        <div class="mt-2 relative">
          <input
            type="password"
            name="password1"
            id="id_password1"
            required
            class="block max-w-md pl-3 pr-24 py-2 text-sm text-gray-400 border border-gray-600 rounded-lg bg-gray-800/50 placeholder-gray-400 transition-all duration-200 hover:shadow-md hover:shadow-gray-500/50 focus:ring-1 focus:ring-gray-500/50 focus:outline-none"
            placeholder="Enter your password"
          />
          {% if form.password1.errors %}
            {% if not form.password.errors|error_char %}
              <p class="absolute left-0 -bottom-5 text-xs text-red-400">{{ form.password1.errors.0 }}</p>
            {% else %}
              <p class="absolute left-0 -bottom-10 text-xs text-red-400">{{ form.password1.errors.0 }}</p>
            {% endif %}
          {% endif %}
        </div>
      </div>

      <div class="mt-3">
        <label for="id_password2" class="block mb-2 text-sm font-medium text-gray-300">
          Confirm password
        </label>
        <div class="mt-2 relative">
          <input
            type="password"
            name="password2"
            id="id_password2"
            required
            class="block max-w-md pl-3 pr-24 py-2 text-sm text-gray-400 border border-gray-600 rounded-lg bg-gray-800/50 placeholder-gray-400 transition-all duration-200 hover:shadow-md hover:shadow-gray-500/50 focus:ring-1 focus:ring-gray-500/50 focus:outline-none"
            placeholder="Confirm your password"
          />
          {% if form.password2.errors %}
            {% if not form.password2.errors|error_char %}
              <p class="absolute -bottom-5 left-0 text-xs text-red-400">{{ form.password2.errors.0 }}</p>
            {% else %}
              <p class="absolute -bottom-10 left-0 text-xs text-red-400">{{ form.password2.errors.0 }}</p>
            {% endif %}
          {% endif %}
        </div>
      </div>

      <div>
        {% if form.password1.errors|error_char or form.password2.errors|error_char %}
          <button type="submit"
            class="flex max-w-md mt-12 justify-center rounded-md bg-indigo-500 px-3 py-1.5 text-sm font-semibold text-white hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
            Register
          </button>
        {% elif form.password1.errors|error_char == None and form.password2.errors|error_char == None %}
          <button type="submit"
            class="flex max-w-md justify-center rounded-md bg-indigo-500 px-3 py-1.5 text-sm font-semibold text-white hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
            Register
          </button>
        {% else %}
          <button type="submit"
            class="flex max-w-md mt-7 justify-center rounded-md bg-indigo-500 px-3 py-1.5 text-sm font-semibold text-white hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
            Register
          </button>
        {% endif %}
      </div>

      <input type="hidden" name="next" value="{% url "forum:post_feed" %}" />
    </form>
  </div>
{% endblock content %}